<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="text-center">
                <div class="small m-0 text-white">
                    Copyright ©
                    <%= new Date().getFullYear() %> Club Manager. All rights reserved. Design &amp; Development by
                        <a href="http://www.michaelogrady.net" class="link-light small">Michael O'Grady</a
              >
            </div>
          </div>
        </div>
      </div>
</footer>

<!-- Chat feature only available to logged in users -->
<%  
if(user){ %>
    <div id="chat-wrapper" class="chat-wrapper shadow border-top border-left border-right">
        <!-- Bring in Socket.io file -->
        <script src="/socket.io/socket.io.js"></script>
    </div>
    <% }else{

}
%>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
            $('[data-toggle="tooltip"]').tooltip();
        </script>
        <script src="/main-bundled.js"></script>
        </body>

        </html>